<!DOCTYPE html>
<html>

<head>
    <title>LEARN! | Dashboard</title>
    <link rel="stylesheet" type="text/css" href="dashboard.css">
</head>

<body>
    <nav>
        <div class="Navigation">
            <div>
                <h1 class="navbar-brand">LEARN.INC</h1>
            </div>

            <div class="navbar-btn">
                <div>
                    <h1 class="btn"><a href="/">Logout</a></h1>
                </div>

            </div>
        </div>
    </nav>

    <div class="wrapper">
        <img src="https://static.vecteezy.com/system/resources/previews/002/206/015/original/developer-working-icon-free-vector.jpg">
        <br><br><br><br>
    </div>

    <div class="container">
        <h1>Go To:</h1>
        <br><br>

        <a href="/profile">
            <div class="tabs one"> User Profile <span>▷▷</span></div>
        </a>

        <br><br>
        <a href="/tasks">
            <div class="tabs two"> Tasks <span>▷▷</span></div>
        </a>

        <br><br>
        <a href="/courses">
            <div class="tabs three"> Course <span>▷▷</span></div>
        </a>
        <br><br>

    </div>

    <!-- ======================================================================================================================================================
 -->



</body>

</html>