<!DOCTYPE html>
<html>

<head>
    <title>LEARN! | Home</title>
    <link rel="stylesheet" type="text/css" href="landingPage.css">

</head>

<body>
    <nav>
        <div class="Navigation">
            <div>
                <h1 class="navbar-brand">LEARN.INC</h1>
            </div>

            <div class="navbar-btn">
                <div>
                    <h1 class="btn"><a href="/login">LogIn</a></h1>
                </div>

                <div>
                    <h1 class="btn">
                        <a href="/signup">SignUp</a> </h1>
                </div>
            </div>
        </div>
    </nav>
    <img src="main.jpg " class="mainImage ">

    <div class="text ">
        <h2>Never Stop, </h2>
        <h3>Keep Learning...</h3>
        <p>When you learn about different problems in the world, you also learn about ways to help. As you keep learning how our daily actions affect the planet, you start searching for solutions. Even if that has nothing to do with your profession, it has
            to do with you as a person.</p>
    </div>

    <!-- ======================================================================================================================================================
 -->

    <div>
        <footer class="footer ">
            <p>Questions? Call 1-866-579-7172</p>
            <div class="footer-cols ">
                <ul>
                    <li><a href="# ">FAQ</a></li>
                    <li><a href="# ">Investor Relations</a></li>
                    <li><a href="# ">Corporate Information</a></li>
                    <li><a href="# ">Learn.Inc Originals</a></li>
                </ul>
                <ul>
                    <li><a href="# ">Help Center</a></li>
                    <li><a href="# ">Terms Of Use</a></li>
                    <li><a href="# ">Contact Us</a></li>
                </ul>
                <ul>
                    <li><a href="# ">Account</a></li>
                    <li><a href="# ">Privacy</a></li>
                </ul>
                <ul>
                    <li><a href="# ">Media Center</a></li>
                    <li><a href="# ">Cookie Preferences</a></li>
                    <li><a href="# ">Legal Notices</a></li>
                </ul>
            </div>

        </footer>
    </div>

</body>

</html>